# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment
.env
.env.*

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Replit
.replit
*.replit

# Misc
*.log
*.sqlite3
*.db

# Jupyter
.ipynb_checkpoints/
*.ipynb
